@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scrollbar-width: none;
}

body {
  background-color: #8946ad;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}